In [4]:
import pandas as pd

data = {
    "Name": ["A", "B", "C"],
    "Age" : [25,30,35],
    "City" : ["NY", "L","P"]
}
df = pd.DataFrame(data)
print(df)
df.shape

  Name  Age City
0    A   25   NY
1    B   30    L
2    C   35    P

(3, 3)

In [5]:
df.loc[df['City'].str.contains("New")]

Empty DataFrame
Columns: [Name, Age, City]
Index: []

In [ ]:
#2
import pandas as pd

df = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "City": ["New York", "Los Angeles", "Newark", "Paris"]
})

print(df.loc[df['City'].str.contains("New")])

In [ ]:
#3
import pandas as pd
import numpy as np

df = pd.DataFrame({
    "Name": ["A", "B", "C"],
    "Data Structure Marks": [95, 85, 91]
})

df['Grade'] = np.where(df['Data Structure Marks'] > 90, 'A+', 'A')
print(df)

In [ ]:
# 4
import pandas as pd

df = pd.DataFrame({
    "Name": ["A", "B", "C"],
    "Data Structure Marks": [85, 65, 72]
})

df['Passed in DS'] = df['Data Structure Marks'] > 70
print(df)
print("\nData type:", df['Passed in DS'].dtype)

In [ ]:
#5
import pandas as pd

df = pd.DataFrame({
    "City": ["Dhaka", "Chattogram", "Dhaka", "Sylhet", "Chattogram"]
})

print("unique():\n", df['City'].unique())
print("\nType:", type(df['City'].unique()))
print("\nCount from unique():", len(df['City'].unique()))

print("\nnunique():", df['City'].nunique())
print("Type:", type(df['City'].nunique()))

In [ ]:
#6
import pandas as pd
import numpy as np

df = pd.DataFrame({
    "Name": ["A", "B", None, "D"],
    "Age":  [25, 30, np.nan, 40],
    "City": ["NY", np.nan, "LA", None]
})

print("আগে:")
print(df)

print("\nপরে (df.dropna()):")
print(df.dropna())

In [ ]:
#7
import pandas as pd

df = pd.DataFrame({
    "A": [1, 2, 3],
    "B": [10, 20, 30]
})

# প্রতি রো-তে যোগফল বের করি
df['Sum'] = df.apply(lambda row: row['A'] + row['B'], axis=1)

print(df)

# প্রতি রো-তে "A > B?" চেক করি
df['A_gt_B'] = df.apply(lambda row: row['A'] > row['B'], axis=1)
# আউটপুট: [False, False, False]

In [ ]:
#8
import pandas as pd

df = pd.DataFrame({
    "Name": ["Alice", "Bob"],
    "EnrollmentDate": ["2024-01-15", "2023-06-20"]
})

# প্রথমে datetime-এ কনভার্ট করতে হবে
df['EnrollmentDate'] = pd.to_datetime(df['EnrollmentDate'])

# এখন .dt.year ব্যবহার করি
df['Year'] = df['EnrollmentDate'].dt.year

print(df)

In [6]:
#9
import pandas as pd
import numpy as np

df = pd.DataFrame({
    "Name": ["A", "B", "C", "D"],
    "Python Marks": [85, np.nan, 92, np.nan]
})

print("আগে:")
print(df)

df['Python Marks'].fillna(df['Python Marks'].mean(), inplace=True)

print("\nপরে:")
print(df)

আগে:
  Name  Python Marks
0    A          85.0
1    B           NaN
2    C          92.0
3    D           NaN

পরে:
  Name  Python Marks
0    A          85.0
1    B          88.5
2    C          92.0
3    D          88.5

C:\Users\evan\AppData\Local\Temp\ipykernel_15380\2644274979.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Python Marks'].fillna(df['Python Marks'].mean(), inplace=True)