
# **12.2 Pandas DataFrame and Series**

In [ ]:
import pandas as pd


df = pd.read_csv('student_data .csv')
print(df)

In [3]:
student_id = df['StudentID']
print(student_id)

0     PH1001
1     PH1002
2     PH1003
3     PH1004
4     PH1005
5     PH1006
6     PH1007
7     PH1008
8     PH1009
9     PH1010
10    PH1011
11    PH1012
12    PH1013
13    PH1014
14    PH1015
15    PH1016
16    PH1017
17    PH1018
18    PH1019
19    PH1020
20       NaN
Name: StudentID, dtype: object

# **_12.3 Working with Different file types in Pandas_**

In [6]:
csv_data = pd.read_csv('student_data .csv')
print(csv_data.head())
print(csv_data.tail())
print()
print(csv_data)

  StudentID          FullName  Data Structure Marks  Algorithm Marks  \
0    PH1001       Alif Rahman                  85.0             85.0
1    PH1002     Fatima Akhter                  92.0             92.0
2    PH1003     Imran Hossain                  88.0             88.0
3    PH1004  Jannatul Ferdous                  78.0             78.0
4    PH1005       Kamal Uddin                   NaN              NaN

   Python Marks CompletionStatus EnrollmentDate Instructor    Location
0          88.0        Completed     2024-01-15  Mr. Karim       Dhaka
1           NaN      In Progress     2024-01-20  Ms. Salma  Chattogram
2          85.0        Completed     2024-02-10  Mr. Karim       Dhaka
3          82.0        Completed     2024-02-12  Ms. Salma      Sylhet
4          95.0      In Progress     2024-03-05  Mr. Karim  Chattogram
   StudentID      FullName  Data Structure Marks  Algorithm Marks  \
16    PH1017   Afsana Mimi                  90.0             90.0
17    PH1018   Babul Ahmed                  88.0             88.0
18    PH1019  Faria Rahman                   NaN              NaN
19    PH1020    Nasir Khan                  86.0             86.0
20       NaN           NaN                   NaN              NaN

    Python Marks CompletionStatus EnrollmentDate Instructor    Location
16          93.0        Completed     2025-09-01  Mr. Karim       Dhaka
17          85.0        Completed     2025-09-05  Ms. Salma      Sylhet
18           NaN      Not Started     2025-09-15  Mr. David  Chattogram
19          89.0        Completed     2025-10-02  Ms. Salma       Dhaka
20           NaN              NaN            NaN        NaN         NaN

   StudentID          FullName  Data Structure Marks  Algorithm Marks  \
0     PH1001       Alif Rahman                  85.0             85.0
1     PH1002     Fatima Akhter                  92.0             92.0
2     PH1003     Imran Hossain                  88.0             88.0
3     PH1004  Jannatul Ferdous                  78.0             78.0
4     PH1005       Kamal Uddin                   NaN              NaN
5     PH1006       Laila Begum                  75.0             75.0
6     PH1007    Mahmudul Hasan                  80.0             80.0
7     PH1008       Nadia Islam                  81.0             81.0
8     PH1009        Omar Faruq                  72.0             72.0
9     PH1010      Priya Sharma                  89.0             89.0
10    PH1011      Rahim Sheikh                   NaN              NaN
11    PH1012   Sadia Chowdhury                  85.0             85.0
12    PH1013      Tanvir Ahmed                  75.0             75.0
13    PH1014        Urmi Akter                   NaN              NaN
14    PH1015      Wahiduzzaman                  86.0             86.0
15    PH1016      Ziaur Rahman                  94.0             94.0
16    PH1017       Afsana Mimi                  90.0             90.0
17    PH1018       Babul Ahmed                  88.0             88.0
18    PH1019      Faria Rahman                   NaN              NaN
19    PH1020        Nasir Khan                  86.0             86.0
20       NaN               NaN                   NaN              NaN

    Python Marks CompletionStatus EnrollmentDate Instructor    Location
0           88.0        Completed     2024-01-15  Mr. Karim       Dhaka
1            NaN      In Progress     2024-01-20  Ms. Salma  Chattogram
2           85.0        Completed     2024-02-10  Mr. Karim       Dhaka
3           82.0        Completed     2024-02-12  Ms. Salma      Sylhet
4           95.0      In Progress     2024-03-05  Mr. Karim  Chattogram
5           78.0        Completed     2024-03-08  Ms. Salma    Rajshahi
6            NaN      In Progress     2024-04-01  Mr. Karim       Dhaka
7           85.0        Completed     2024-04-22  Ms. Salma  Chattogram
8           76.0        Completed     2024-05-16  Mr. David       Dhaka
9           88.0        Completed     2024-05-20  Ms. Salma      Sylhet
10          91.0      In Progress     2024-06-11  Mr. Karim      Khulna
11          87.0        Completed     2024-06-14  Ms. Salma  Chattogram
12          79.0        Completed     2024-07-02  Mr. David       Dhaka
13           NaN      Not Started     2024-07-09  Ms. Salma    Rajshahi
14          84.0        Completed     2024-08-18  Mr. Karim       Dhaka
15           NaN      In Progress     2024-08-21  Ms. Salma  Chattogram
16          93.0        Completed     2025-09-01  Mr. Karim       Dhaka
17          85.0        Completed     2025-09-05  Ms. Salma      Sylhet
18           NaN      Not Started     2025-09-15  Mr. David  Chattogram
19          89.0        Completed     2025-10-02  Ms. Salma       Dhaka
20           NaN              NaN            NaN        NaN         NaN

In [28]:
import pandas as pd

df = pd.read_excel('student_data.xlsx')

print(df)

   StudentID          FullName  Data Structure Marks  Algorithm Marks  \
0     PH1001       Alif Rahman                  85.0             85.0
1     PH1002     Fatima Akhter                  92.0             92.0
2     PH1003     Imran Hossain                  88.0             88.0
3     PH1004  Jannatul Ferdous                  78.0             78.0
4     PH1005       Kamal Uddin                   NaN              NaN
5     PH1006       Laila Begum                  75.0             75.0
6     PH1007    Mahmudul Hasan                  80.0             80.0
7     PH1008       Nadia Islam                  81.0             81.0
8     PH1009        Omar Faruq                  72.0             72.0
9     PH1010      Priya Sharma                  89.0             89.0
10    PH1011      Rahim Sheikh                   NaN              NaN
11    PH1012   Sadia Chowdhury                  85.0             85.0
12    PH1013      Tanvir Ahmed                  75.0             75.0
13    PH1014        Urmi Akter                   NaN              NaN
14    PH1015      Wahiduzzaman                  86.0             86.0
15    PH1016      Ziaur Rahman                  94.0             94.0
16    PH1017       Afsana Mimi                  90.0             90.0
17    PH1018       Babul Ahmed                  88.0             88.0
18    PH1019      Faria Rahman                   NaN              NaN
19    PH1020        Nasir Khan                  86.0             86.0

    Python Marks CompletionStatus EnrollmentDate Instructor    Location
0           88.0        Completed     2024-01-15  Mr. Karim       Dhaka
1            NaN      In Progress     2024-01-20  Ms. Salma  Chattogram
2           85.0        Completed     2024-02-10  Mr. Karim       Dhaka
3           82.0        Completed     2024-02-12  Ms. Salma      Sylhet
4           95.0      In Progress     2024-03-05  Mr. Karim  Chattogram
5           78.0        Completed     2024-03-08  Ms. Salma    Rajshahi
6            NaN      In Progress     2024-04-01  Mr. Karim       Dhaka
7           85.0        Completed     2024-04-22  Ms. Salma  Chattogram
8           76.0        Completed     2024-05-16  Mr. David       Dhaka
9           88.0        Completed     2024-05-20  Ms. Salma      Sylhet
10          91.0      In Progress     2024-06-11  Mr. Karim      Khulna
11          87.0        Completed     2024-06-14  Ms. Salma  Chattogram
12          79.0        Completed     2024-07-02  Mr. David       Dhaka
13           NaN      Not Started     2024-07-09  Ms. Salma    Rajshahi
14          84.0        Completed     2024-08-18  Mr. Karim       Dhaka
15           NaN      In Progress     2024-08-21  Ms. Salma  Chattogram
16          93.0        Completed     2025-09-01  Mr. Karim       Dhaka
17          85.0        Completed     2025-09-05  Ms. Salma      Sylhet
18           NaN      Not Started     2025-09-15  Mr. David  Chattogram
19          89.0        Completed     2025-10-02  Ms. Salma       Dhaka

In [2]:
import pandas as pd

parquet_file = pd.read_parquet('enrollment_data.parquet')
print(parquet_file)

   Year  Programming  Digital Marketing
0  2015          589                734
1  2016          862                963
2  2017         1085               1157
3  2018         1150               1404
4  2019         1439               1497
5  2020         1715               1579
6  2021         1785               1948
7  2022         1995               2073
8  2023         2236               2310
9  2024         2442               2338

# **_12.4 Pandas Basic Functionalities_**

In [6]:
df = pd.read_csv('student_data.csv')
#print(df)
df.head(5)

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location
0,PH1001,Alif Rahman,85.0,85.0,88.0,Completed,2024-01-15,Mr. Karim,Dhaka
1,PH1002,Fatima Akhter,92.0,92.0,NaN,In Progress,2024-01-20,Ms. Salma,Chattogram
2,PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2024-02-10,Mr. Karim,Dhaka
3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Ms. Salma,Sylhet
4,PH1005,Kamal Uddin,NaN,NaN,95.0,In Progress,2024-03-05,Mr. Karim,Chattogram

In [7]:
df.columns

Index(['StudentID', 'FullName', 'Data Structure Marks', 'Algorithm Marks',
       'Python Marks', 'CompletionStatus', 'EnrollmentDate', 'Instructor',
       'Location'],
      dtype='object')

In [8]:
import numpy as np

df.columns
col = np.array(df.columns)
print(col.dtype)

object

In [9]:
df.index
ind = np.array(df.index)
print(ind)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   StudentID             20 non-null     object
 1   FullName              20 non-null     object
 2   Data Structure Marks  16 non-null     float64
 3   Algorithm Marks       16 non-null     float64
 4   Python Marks          15 non-null     float64
 5   CompletionStatus      20 non-null     object
 6   EnrollmentDate        20 non-null     object
 7   Instructor            20 non-null     object
 8   Location              20 non-null     object
dtypes: float64(3), object(6)
memory usage: 1.6+ KB

In [14]:
df.sample(10)

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location
19,PH1020,Nasir Khan,86.0,86.0,89.0,Completed,2025-10-02,Ms. Salma,Dhaka
0,PH1001,Alif Rahman,85.0,85.0,88.0,Completed,2024-01-15,Mr. Karim,Dhaka
4,PH1005,Kamal Uddin,NaN,NaN,95.0,In Progress,2024-03-05,Mr. Karim,Chattogram
10,PH1011,Rahim Sheikh,NaN,NaN,91.0,In Progress,2024-06-11,Mr. Karim,Khulna
13,PH1014,Urmi Akter,NaN,NaN,NaN,Not Started,2024-07-09,Ms. Salma,Rajshahi
18,PH1019,Faria Rahman,NaN,NaN,NaN,Not Started,2025-09-15,Mr. David,Chattogram
15,PH1016,Ziaur Rahman,94.0,94.0,NaN,In Progress,2024-08-21,Ms. Salma,Chattogram
6,PH1007,Mahmudul Hasan,80.0,80.0,NaN,In Progress,2024-04-01,Mr. Karim,Dhaka
16,PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,2025-09-01,Mr. Karim,Dhaka
12,PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed,2024-07-02,Mr. David,Dhaka

In [ ]:
df.describe()

# **12.5 Dataframe from Inbuilt Data with Column and Indexes**

In [17]:
my_list = [['Alice', 25], ['Bob', 30], ['Charlie', 28]]

list_df = pd.DataFrame(my_list,columns=['Name','Age'],index=[1,2,3])

print(type(list_df))

list_df

<class 'pandas.core.frame.DataFrame'>

      Name  Age
1    Alice   25
2      Bob   30
3  Charlie   28

In [18]:
my_tuple = (('Alice', 25), ('Bob', 30), ('Charlie', 28))

tuple_df = pd.DataFrame(my_tuple)
tuple_df

         0   1
0    Alice  25
1      Bob  30
2  Charlie  28

In [19]:
my_dict = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 29,28]
}

dict_df = pd.DataFrame(my_dict)

dict_df

      Name  Age
0    Alice   25
1      Bob   29
2  Charlie   28

# **_#  12.6 Accessing Data with Index and Column_**

In [26]:
df['FullName']
#type(df['FullName'])

df.loc[[0,2,3,19]]

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location
0,PH1001,Alif Rahman,85.0,85.0,88.0,Completed,2024-01-15,Mr. Karim,Dhaka
2,PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2024-02-10,Mr. Karim,Dhaka
3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Ms. Salma,Sylhet
19,PH1020,Nasir Khan,86.0,86.0,89.0,Completed,2025-10-02,Ms. Salma,Dhaka

In [27]:
#range

df.loc[3:7]

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location
3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Ms. Salma,Sylhet
4,PH1005,Kamal Uddin,NaN,NaN,95.0,In Progress,2024-03-05,Mr. Karim,Chattogram
5,PH1006,Laila Begum,75.0,75.0,78.0,Completed,2024-03-08,Ms. Salma,Rajshahi
6,PH1007,Mahmudul Hasan,80.0,80.0,NaN,In Progress,2024-04-01,Mr. Karim,Dhaka
7,PH1008,Nadia Islam,81.0,81.0,85.0,Completed,2024-04-22,Ms. Salma,Chattogram

In [30]:
# single column

df.loc[:,'Python Marks']

type(df.loc[:,['Python Marks','Algorithm Marks']])

pandas.core.frame.DataFrame

In [31]:
df.loc[3:7,'CompletionStatus']

3      Completed
4    In Progress
5      Completed
6    In Progress
7      Completed
Name: CompletionStatus, dtype: object

# **_12.7 Changing Index and Columns and iloc_**

In [36]:
df = pd.read_csv('student_data.csv')

df_index= df.set_index('StudentID', inplace=True)
print(df_index)

None

In [47]:
df_index.iloc[:,0:5]

AttributeError: 'NoneType' object has no attribute 'iloc'

In [37]:
df.rename(columns={'FullName':'Full Name','Algorithm Marks' :'Algo Marks'},inplace=True)

df

,Full Name,Data Structure Marks,Algo Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location
StudentID,,,,,,,,
PH1001,Alif Rahman,85.0,85.0,88.0,Completed,2024-01-15,Mr. Karim,Dhaka
PH1002,Fatima Akhter,92.0,92.0,NaN,In Progress,2024-01-20,Ms. Salma,Chattogram
PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2024-02-10,Mr. Karim,Dhaka
PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Ms. Salma,Sylhet
PH1005,Kamal Uddin,NaN,NaN,95.0,In Progress,2024-03-05,Mr. Karim,Chattogram
PH1006,Laila Begum,75.0,75.0,78.0,Completed,2024-03-08,Ms. Salma,Rajshahi
PH1007,Mahmudul Hasan,80.0,80.0,NaN,In Progress,2024-04-01,Mr. Karim,Dhaka
PH1008,Nadia Islam,81.0,81.0,85.0,Completed,2024-04-22,Ms. Salma,Chattogram
PH1009,Omar Faruq,72.0,72.0,76.0,Completed,2024-05-16,Mr. David,Dhaka
PH1010,Priya Sharma,89.0,89.0,88.0,Completed,2024-05-20,Ms. Salma,Sylhet
PH1011,Rahim Sheikh,NaN,NaN,91.0,In Progress,2024-06-11,Mr. Karim,Khulna
PH1012,Sadia Chowdhury,85.0,85.0,87.0,Completed,2024-06-14,Ms. Salma,Chattogram
PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed,2024-07-02,Mr. David,Dhaka
PH1014,Urmi Akter,NaN,NaN,NaN,Not Started,2024-07-09,Ms. Salma,Rajshahi
PH1015,Wahiduzzaman,86.0,86.0,84.0,Completed,2024-08-18,Mr. Karim,Dhaka
PH1016,Ziaur Rahman,94.0,94.0,NaN,In Progress,2024-08-21,Ms. Salma,Chattogram
PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,2025-09-01,Mr. Karim,Dhaka
PH1018,Babul Ahmed,88.0,88.0,85.0,Completed,2025-09-05,Ms. Salma,Sylhet
PH1019,Faria Rahman,NaN,NaN,NaN,Not Started,2025-09-15,Mr. David,Chattogram
PH1020,Nasir Khan,86.0,86.0,89.0,Completed,2025-10-02,Ms. Salma,Dhaka
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# **_12.8 Dropping rows and columns,Assigning values and Iteration_**

In [41]:
df

,Full Name,Data Structure Marks,Algo Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location
StudentID,,,,,,,,
PH1001,Alif Rahman,85.0,85.0,88.0,Completed,2024-01-15,Mr. Karim,Dhaka
PH1002,Fatima Akhter,92.0,92.0,NaN,In Progress,2024-01-20,Ms. Salma,Chattogram
PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2024-02-10,Mr. Karim,Dhaka
PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Ms. Salma,Sylhet
PH1005,Kamal Uddin,NaN,NaN,95.0,In Progress,2024-03-05,Mr. Karim,Chattogram
PH1006,Laila Begum,75.0,75.0,78.0,Completed,2024-03-08,Ms. Salma,Rajshahi
PH1007,Mahmudul Hasan,80.0,80.0,NaN,In Progress,2024-04-01,Mr. Karim,Dhaka
PH1008,Nadia Islam,81.0,81.0,85.0,Completed,2024-04-22,Ms. Salma,Chattogram
PH1009,Omar Faruq,72.0,72.0,76.0,Completed,2024-05-16,Mr. David,Dhaka
PH1010,Priya Sharma,89.0,89.0,88.0,Completed,2024-05-20,Ms. Salma,Sylhet
PH1011,Rahim Sheikh,NaN,NaN,91.0,In Progress,2024-06-11,Mr. Karim,Khulna
PH1012,Sadia Chowdhury,85.0,85.0,87.0,Completed,2024-06-14,Ms. Salma,Chattogram
PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed,2024-07-02,Mr. David,Dhaka
PH1014,Urmi Akter,NaN,NaN,NaN,Not Started,2024-07-09,Ms. Salma,Rajshahi
PH1015,Wahiduzzaman,86.0,86.0,84.0,Completed,2024-08-18,Mr. Karim,Dhaka
PH1016,Ziaur Rahman,94.0,94.0,NaN,In Progress,2024-08-21,Ms. Salma,Chattogram
PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,2025-09-01,Mr. Karim,Dhaka
PH1018,Babul Ahmed,88.0,88.0,85.0,Completed,2025-09-05,Ms. Salma,Sylhet
PH1019,Faria Rahman,NaN,NaN,NaN,Not Started,2025-09-15,Mr. David,Chattogram
PH1020,Nasir Khan,86.0,86.0,89.0,Completed,2025-10-02,Ms. Salma,Dhaka
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
# row deletion
df.drop(0, inplace=True)

df

KeyError: '[0] not found in axis'

In [48]:
# column deletion

df.drop('Instructor',axis=1, inplace=True)

df

,Full Name,Data Structure Marks,Algo Marks,Python Marks,CompletionStatus,EnrollmentDate,Location
StudentID,,,,,,,
PH1001,Alif Rahman,85.0,85.0,88.0,Completed,2024-01-15,Dhaka
PH1002,Fatima Akhter,92.0,92.0,NaN,In Progress,2024-01-20,Chattogram
PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2024-02-10,Dhaka
PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Sylhet
PH1005,Kamal Uddin,NaN,NaN,95.0,In Progress,2024-03-05,Chattogram
PH1006,Laila Begum,75.0,75.0,78.0,Completed,2024-03-08,Rajshahi
PH1007,Mahmudul Hasan,80.0,80.0,NaN,In Progress,2024-04-01,Dhaka
PH1008,Nadia Islam,81.0,81.0,85.0,Completed,2024-04-22,Chattogram
PH1009,Omar Faruq,72.0,72.0,76.0,Completed,2024-05-16,Dhaka
PH1010,Priya Sharma,89.0,89.0,88.0,Completed,2024-05-20,Sylhet
PH1011,Rahim Sheikh,NaN,NaN,91.0,In Progress,2024-06-11,Khulna
PH1012,Sadia Chowdhury,85.0,85.0,87.0,Completed,2024-06-14,Chattogram
PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed,2024-07-02,Dhaka
PH1014,Urmi Akter,NaN,NaN,NaN,Not Started,2024-07-09,Rajshahi
PH1015,Wahiduzzaman,86.0,86.0,84.0,Completed,2024-08-18,Dhaka
PH1016,Ziaur Rahman,94.0,94.0,NaN,In Progress,2024-08-21,Chattogram
PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,2025-09-01,Dhaka
PH1018,Babul Ahmed,88.0,88.0,85.0,Completed,2025-09-05,Sylhet
PH1019,Faria Rahman,NaN,NaN,NaN,Not Started,2025-09-15,Chattogram
PH1020,Nasir Khan,86.0,86.0,89.0,Completed,2025-10-02,Dhaka
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
df.loc[1,'Pyhon Marks'] = 90
df.head(5)
df.loc[1,'CompletionStatus'] = 'Completed'
df.head(5)

,Full Name,Data Structure Marks,Algo Marks,Python Marks,CompletionStatus,EnrollmentDate,Location,Pyhon Marks
StudentID,,,,,,,,
PH1001,Alif Rahman,85.0,85.0,88.0,Completed,2024-01-15,Dhaka,NaN
PH1002,Fatima Akhter,92.0,92.0,NaN,In Progress,2024-01-20,Chattogram,NaN
PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2024-02-10,Dhaka,NaN
PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Sylhet,NaN
PH1005,Kamal Uddin,NaN,NaN,95.0,In Progress,2024-03-05,Chattogram,NaN

In [58]:
#  :    
print("Columns:", df.columns.tolist())
print("Index:", df.index.tolist())
print(df.head())

Columns: ['Full Name', 'Data Structure Marks', 'Algo Marks', 'Python Marks', 'CompletionStatus', 'EnrollmentDate', 'Location', 'Pyhon Marks']
Index: ['PH1001', 'PH1002', 'PH1003', 'PH1004', 'PH1005', 'PH1006', 'PH1007', 'PH1008', 'PH1009', 'PH1010', 'PH1011', 'PH1012', 'PH1013', 'PH1014', 'PH1015', 'PH1016', 'PH1017', 'PH1018', 'PH1019', 'PH1020', nan, 1]
                  Full Name  Data Structure Marks  Algo Marks  Python Marks  \
StudentID
PH1001          Alif Rahman                  85.0        85.0          88.0
PH1002        Fatima Akhter                  92.0        92.0           NaN
PH1003        Imran Hossain                  88.0        88.0          85.0
PH1004     Jannatul Ferdous                  78.0        78.0          82.0
PH1005          Kamal Uddin                   NaN         NaN          95.0

          CompletionStatus EnrollmentDate    Location  Pyhon Marks
StudentID
PH1001           Completed     2024-01-15       Dhaka          NaN
PH1002         In Progress     2024-01-20  Chattogram          NaN
PH1003           Completed     2024-02-10       Dhaka          NaN
PH1004           Completed     2024-02-12      Sylhet          NaN
PH1005         In Progress     2024-03-05  Chattogram          NaN

In [61]:
#df.loc[:3, 'Python Marks'] += 2

#df.head()

df.loc[df.index[1:4], 'Python Marks'] += 2
df.head()

,Full Name,Data Structure Marks,Algo Marks,Python Marks,CompletionStatus,EnrollmentDate,Location,Pyhon Marks
StudentID,,,,,,,,
PH1001,Alif Rahman,85.0,85.0,88.0,Completed,2024-01-15,Dhaka,NaN
PH1002,Fatima Akhter,92.0,92.0,NaN,In Progress,2024-01-20,Chattogram,NaN
PH1003,Imran Hossain,88.0,88.0,87.0,Completed,2024-02-10,Dhaka,NaN
PH1004,Jannatul Ferdous,78.0,78.0,84.0,Completed,2024-02-12,Sylhet,NaN
PH1005,Kamal Uddin,NaN,NaN,95.0,In Progress,2024-03-05,Chattogram,NaN

In [62]:
for i,series in df.iterrows():
    print(f"{i} : {series}")

PH1001 : Full Name               Alif Rahman
Data Structure Marks           85.0
Algo Marks                     85.0
Python Marks                   88.0
CompletionStatus          Completed
EnrollmentDate           2024-01-15
Location                      Dhaka
Pyhon Marks                     NaN
Name: PH1001, dtype: object
PH1002 : Full Name               Fatima Akhter
Data Structure Marks             92.0
Algo Marks                       92.0
Python Marks                      NaN
CompletionStatus          In Progress
EnrollmentDate             2024-01-20
Location                   Chattogram
Pyhon Marks                       NaN
Name: PH1002, dtype: object
PH1003 : Full Name               Imran Hossain
Data Structure Marks             88.0
Algo Marks                       88.0
Python Marks                     87.0
CompletionStatus            Completed
EnrollmentDate             2024-02-10
Location                        Dhaka
Pyhon Marks                       NaN
Name: PH1003, dtype: object
PH1004 : Full Name               Jannatul Ferdous
Data Structure Marks                78.0
Algo Marks                          78.0
Python Marks                        84.0
CompletionStatus               Completed
EnrollmentDate                2024-02-12
Location                          Sylhet
Pyhon Marks                          NaN
Name: PH1004, dtype: object
PH1005 : Full Name               Kamal Uddin
Data Structure Marks            NaN
Algo Marks                      NaN
Python Marks                   95.0
CompletionStatus        In Progress
EnrollmentDate           2024-03-05
Location                 Chattogram
Pyhon Marks                     NaN
Name: PH1005, dtype: object
PH1006 : Full Name               Laila Begum
Data Structure Marks           75.0
Algo Marks                     75.0
Python Marks                   78.0
CompletionStatus          Completed
EnrollmentDate           2024-03-08
Location                   Rajshahi
Pyhon Marks                     NaN
Name: PH1006, dtype: object
PH1007 : Full Name               Mahmudul Hasan
Data Structure Marks              80.0
Algo Marks                        80.0
Python Marks                       NaN
CompletionStatus           In Progress
EnrollmentDate              2024-04-01
Location                         Dhaka
Pyhon Marks                        NaN
Name: PH1007, dtype: object
PH1008 : Full Name               Nadia Islam
Data Structure Marks           81.0
Algo Marks                     81.0
Python Marks                   85.0
CompletionStatus          Completed
EnrollmentDate           2024-04-22
Location                 Chattogram
Pyhon Marks                     NaN
Name: PH1008, dtype: object
PH1009 : Full Name               Omar Faruq
Data Structure Marks          72.0
Algo Marks                    72.0
Python Marks                  76.0
CompletionStatus         Completed
EnrollmentDate          2024-05-16
Location                     Dhaka
Pyhon Marks                    NaN
Name: PH1009, dtype: object
PH1010 : Full Name               Priya Sharma
Data Structure Marks            89.0
Algo Marks                      89.0
Python Marks                    88.0
CompletionStatus           Completed
EnrollmentDate            2024-05-20
Location                      Sylhet
Pyhon Marks                      NaN
Name: PH1010, dtype: object
PH1011 : Full Name               Rahim Sheikh
Data Structure Marks             NaN
Algo Marks                       NaN
Python Marks                    91.0
CompletionStatus         In Progress
EnrollmentDate            2024-06-11
Location                      Khulna
Pyhon Marks                      NaN
Name: PH1011, dtype: object
PH1012 : Full Name               Sadia Chowdhury
Data Structure Marks               85.0
Algo Marks                         85.0
Python Marks                       87.0
CompletionStatus              Completed
EnrollmentDate               2024-06-14
Location                     Chattogram
Pyhon Marks                         NaN
Name: PH1012, dtype: object
PH1013 : Full Name               Tanvir Ahmed
Data Structure Marks            75.0
Algo Marks                      75.0
Python Marks                    79.0
CompletionStatus           Completed
EnrollmentDate            2024-07-02
Location                       Dhaka
Pyhon Marks                      NaN
Name: PH1013, dtype: object
PH1014 : Full Name                Urmi Akter
Data Structure Marks            NaN
Algo Marks                      NaN
Python Marks                    NaN
CompletionStatus        Not Started
EnrollmentDate           2024-07-09
Location                   Rajshahi
Pyhon Marks                     NaN
Name: PH1014, dtype: object
PH1015 : Full Name               Wahiduzzaman
Data Structure Marks            86.0
Algo Marks                      86.0
Python Marks                    84.0
CompletionStatus           Completed
EnrollmentDate            2024-08-18
Location                       Dhaka
Pyhon Marks                      NaN
Name: PH1015, dtype: object
PH1016 : Full Name               Ziaur Rahman
Data Structure Marks            94.0
Algo Marks                      94.0
Python Marks                     NaN
CompletionStatus         In Progress
EnrollmentDate            2024-08-21
Location                  Chattogram
Pyhon Marks                      NaN
Name: PH1016, dtype: object
PH1017 : Full Name               Afsana Mimi
Data Structure Marks           90.0
Algo Marks                     90.0
Python Marks                   93.0
CompletionStatus          Completed
EnrollmentDate           2025-09-01
Location                      Dhaka
Pyhon Marks                     NaN
Name: PH1017, dtype: object
PH1018 : Full Name               Babul Ahmed
Data Structure Marks           88.0
Algo Marks                     88.0
Python Marks                   85.0
CompletionStatus          Completed
EnrollmentDate           2025-09-05
Location                     Sylhet
Pyhon Marks                     NaN
Name: PH1018, dtype: object
PH1019 : Full Name               Faria Rahman
Data Structure Marks             NaN
Algo Marks                       NaN
Python Marks                     NaN
CompletionStatus         Not Started
EnrollmentDate            2025-09-15
Location                  Chattogram
Pyhon Marks                      NaN
Name: PH1019, dtype: object
PH1020 : Full Name               Nasir Khan
Data Structure Marks          86.0
Algo Marks                    86.0
Python Marks                  89.0
CompletionStatus         Completed
EnrollmentDate          2025-10-02
Location                     Dhaka
Pyhon Marks                    NaN
Name: PH1020, dtype: object
nan : Full Name               NaN
Data Structure Marks    NaN
Algo Marks              NaN
Python Marks            NaN
CompletionStatus        NaN
EnrollmentDate          NaN
Location                NaN
Pyhon Marks             NaN
Name: nan, dtype: object
1 : Full Name                     NaN
Data Structure Marks          NaN
Algo Marks                    NaN
Python Marks                  NaN
CompletionStatus        Completed
EnrollmentDate                NaN
Location                      NaN
Pyhon Marks                  92.0
Name: 1, dtype: object

In [65]:
for i in df.itertuples(index=True):
    print(i)

Pandas(Index='PH1001', _1='Alif Rahman', _2=85.0, _3=85.0, _4=88.0, CompletionStatus='Completed', EnrollmentDate='2024-01-15', Location='Dhaka', _8=nan)
Pandas(Index='PH1002', _1='Fatima Akhter', _2=92.0, _3=92.0, _4=nan, CompletionStatus='In Progress', EnrollmentDate='2024-01-20', Location='Chattogram', _8=nan)
Pandas(Index='PH1003', _1='Imran Hossain', _2=88.0, _3=88.0, _4=87.0, CompletionStatus='Completed', EnrollmentDate='2024-02-10', Location='Dhaka', _8=nan)
Pandas(Index='PH1004', _1='Jannatul Ferdous', _2=78.0, _3=78.0, _4=84.0, CompletionStatus='Completed', EnrollmentDate='2024-02-12', Location='Sylhet', _8=nan)
Pandas(Index='PH1005', _1='Kamal Uddin', _2=nan, _3=nan, _4=95.0, CompletionStatus='In Progress', EnrollmentDate='2024-03-05', Location='Chattogram', _8=nan)
Pandas(Index='PH1006', _1='Laila Begum', _2=75.0, _3=75.0, _4=78.0, CompletionStatus='Completed', EnrollmentDate='2024-03-08', Location='Rajshahi', _8=nan)
Pandas(Index='PH1007', _1='Mahmudul Hasan', _2=80.0, _3=80.0, _4=nan, CompletionStatus='In Progress', EnrollmentDate='2024-04-01', Location='Dhaka', _8=nan)
Pandas(Index='PH1008', _1='Nadia Islam', _2=81.0, _3=81.0, _4=85.0, CompletionStatus='Completed', EnrollmentDate='2024-04-22', Location='Chattogram', _8=nan)
Pandas(Index='PH1009', _1='Omar Faruq', _2=72.0, _3=72.0, _4=76.0, CompletionStatus='Completed', EnrollmentDate='2024-05-16', Location='Dhaka', _8=nan)
Pandas(Index='PH1010', _1='Priya Sharma', _2=89.0, _3=89.0, _4=88.0, CompletionStatus='Completed', EnrollmentDate='2024-05-20', Location='Sylhet', _8=nan)
Pandas(Index='PH1011', _1='Rahim Sheikh', _2=nan, _3=nan, _4=91.0, CompletionStatus='In Progress', EnrollmentDate='2024-06-11', Location='Khulna', _8=nan)
Pandas(Index='PH1012', _1='Sadia Chowdhury', _2=85.0, _3=85.0, _4=87.0, CompletionStatus='Completed', EnrollmentDate='2024-06-14', Location='Chattogram', _8=nan)
Pandas(Index='PH1013', _1='Tanvir Ahmed', _2=75.0, _3=75.0, _4=79.0, CompletionStatus='Completed', EnrollmentDate='2024-07-02', Location='Dhaka', _8=nan)
Pandas(Index='PH1014', _1='Urmi Akter', _2=nan, _3=nan, _4=nan, CompletionStatus='Not Started', EnrollmentDate='2024-07-09', Location='Rajshahi', _8=nan)
Pandas(Index='PH1015', _1='Wahiduzzaman', _2=86.0, _3=86.0, _4=84.0, CompletionStatus='Completed', EnrollmentDate='2024-08-18', Location='Dhaka', _8=nan)
Pandas(Index='PH1016', _1='Ziaur Rahman', _2=94.0, _3=94.0, _4=nan, CompletionStatus='In Progress', EnrollmentDate='2024-08-21', Location='Chattogram', _8=nan)
Pandas(Index='PH1017', _1='Afsana Mimi', _2=90.0, _3=90.0, _4=93.0, CompletionStatus='Completed', EnrollmentDate='2025-09-01', Location='Dhaka', _8=nan)
Pandas(Index='PH1018', _1='Babul Ahmed', _2=88.0, _3=88.0, _4=85.0, CompletionStatus='Completed', EnrollmentDate='2025-09-05', Location='Sylhet', _8=nan)
Pandas(Index='PH1019', _1='Faria Rahman', _2=nan, _3=nan, _4=nan, CompletionStatus='Not Started', EnrollmentDate='2025-09-15', Location='Chattogram', _8=nan)
Pandas(Index='PH1020', _1='Nasir Khan', _2=86.0, _3=86.0, _4=89.0, CompletionStatus='Completed', EnrollmentDate='2025-10-02', Location='Dhaka', _8=nan)
Pandas(Index=nan, _1=nan, _2=nan, _3=nan, _4=nan, CompletionStatus=nan, EnrollmentDate=nan, Location=nan, _8=nan)
Pandas(Index=1, _1=nan, _2=nan, _3=nan, _4=nan, CompletionStatus='Completed', EnrollmentDate=nan, Location=nan, _8=92.0)

# **_12.9 Sorting a DF_**

In [70]:
copy = df.sort_values(['Data Structure Marks','Algo Marks'], ascending=False)

copy

,Full Name,Data Structure Marks,Algo Marks,Python Marks,CompletionStatus,EnrollmentDate,Location,Pyhon Marks
StudentID,,,,,,,,
PH1016,Ziaur Rahman,94.0,94.0,NaN,In Progress,2024-08-21,Chattogram,NaN
PH1002,Fatima Akhter,92.0,92.0,NaN,In Progress,2024-01-20,Chattogram,NaN
PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,2025-09-01,Dhaka,NaN
PH1010,Priya Sharma,89.0,89.0,88.0,Completed,2024-05-20,Sylhet,NaN
PH1003,Imran Hossain,88.0,88.0,87.0,Completed,2024-02-10,Dhaka,NaN
PH1018,Babul Ahmed,88.0,88.0,85.0,Completed,2025-09-05,Sylhet,NaN
PH1015,Wahiduzzaman,86.0,86.0,84.0,Completed,2024-08-18,Dhaka,NaN
PH1020,Nasir Khan,86.0,86.0,89.0,Completed,2025-10-02,Dhaka,NaN
PH1001,Alif Rahman,85.0,85.0,88.0,Completed,2024-01-15,Dhaka,NaN
PH1012,Sadia Chowdhury,85.0,85.0,87.0,Completed,2024-06-14,Chattogram,NaN
PH1008,Nadia Islam,81.0,81.0,85.0,Completed,2024-04-22,Chattogram,NaN
PH1007,Mahmudul Hasan,80.0,80.0,NaN,In Progress,2024-04-01,Dhaka,NaN
PH1004,Jannatul Ferdous,78.0,78.0,84.0,Completed,2024-02-12,Sylhet,NaN
PH1006,Laila Begum,75.0,75.0,78.0,Completed,2024-03-08,Rajshahi,NaN
PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed,2024-07-02,Dhaka,NaN
PH1009,Omar Faruq,72.0,72.0,76.0,Completed,2024-05-16,Dhaka,NaN
PH1005,Kamal Uddin,NaN,NaN,95.0,In Progress,2024-03-05,Chattogram,NaN
PH1011,Rahim Sheikh,NaN,NaN,91.0,In Progress,2024-06-11,Khulna,NaN
PH1014,Urmi Akter,NaN,NaN,NaN,Not Started,2024-07-09,Rajshahi,NaN
PH1019,Faria Rahman,NaN,NaN,NaN,Not Started,2025-09-15,Chattogram,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,Completed,NaN,NaN,92.0

In [73]:
copy = df.sort_values(['Data Structure Marks','Python Marks'], ascending=[False, True])

copy

,Full Name,Data Structure Marks,Algo Marks,Python Marks,CompletionStatus,EnrollmentDate,Location,Pyhon Marks
StudentID,,,,,,,,
PH1016,Ziaur Rahman,94.0,94.0,NaN,In Progress,2024-08-21,Chattogram,NaN
PH1002,Fatima Akhter,92.0,92.0,NaN,In Progress,2024-01-20,Chattogram,NaN
PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,2025-09-01,Dhaka,NaN
PH1010,Priya Sharma,89.0,89.0,88.0,Completed,2024-05-20,Sylhet,NaN
PH1018,Babul Ahmed,88.0,88.0,85.0,Completed,2025-09-05,Sylhet,NaN
PH1003,Imran Hossain,88.0,88.0,87.0,Completed,2024-02-10,Dhaka,NaN
PH1015,Wahiduzzaman,86.0,86.0,84.0,Completed,2024-08-18,Dhaka,NaN
PH1020,Nasir Khan,86.0,86.0,89.0,Completed,2025-10-02,Dhaka,NaN
PH1012,Sadia Chowdhury,85.0,85.0,87.0,Completed,2024-06-14,Chattogram,NaN
PH1001,Alif Rahman,85.0,85.0,88.0,Completed,2024-01-15,Dhaka,NaN
PH1008,Nadia Islam,81.0,81.0,85.0,Completed,2024-04-22,Chattogram,NaN
PH1007,Mahmudul Hasan,80.0,80.0,NaN,In Progress,2024-04-01,Dhaka,NaN
PH1004,Jannatul Ferdous,78.0,78.0,84.0,Completed,2024-02-12,Sylhet,NaN
PH1006,Laila Begum,75.0,75.0,78.0,Completed,2024-03-08,Rajshahi,NaN
PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed,2024-07-02,Dhaka,NaN
PH1009,Omar Faruq,72.0,72.0,76.0,Completed,2024-05-16,Dhaka,NaN
PH1011,Rahim Sheikh,NaN,NaN,91.0,In Progress,2024-06-11,Khulna,NaN
PH1005,Kamal Uddin,NaN,NaN,95.0,In Progress,2024-03-05,Chattogram,NaN
PH1014,Urmi Akter,NaN,NaN,NaN,Not Started,2024-07-09,Rajshahi,NaN
PH1019,Faria Rahman,NaN,NaN,NaN,Not Started,2025-09-15,Chattogram,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,Completed,NaN,NaN,92.0

# **_12.10 Filtering Data based on condition_**

In [74]:
df

,Full Name,Data Structure Marks,Algo Marks,Python Marks,CompletionStatus,EnrollmentDate,Location,Pyhon Marks
StudentID,,,,,,,,
PH1001,Alif Rahman,85.0,85.0,88.0,Completed,2024-01-15,Dhaka,NaN
PH1002,Fatima Akhter,92.0,92.0,NaN,In Progress,2024-01-20,Chattogram,NaN
PH1003,Imran Hossain,88.0,88.0,87.0,Completed,2024-02-10,Dhaka,NaN
PH1004,Jannatul Ferdous,78.0,78.0,84.0,Completed,2024-02-12,Sylhet,NaN
PH1005,Kamal Uddin,NaN,NaN,95.0,In Progress,2024-03-05,Chattogram,NaN
PH1006,Laila Begum,75.0,75.0,78.0,Completed,2024-03-08,Rajshahi,NaN
PH1007,Mahmudul Hasan,80.0,80.0,NaN,In Progress,2024-04-01,Dhaka,NaN
PH1008,Nadia Islam,81.0,81.0,85.0,Completed,2024-04-22,Chattogram,NaN
PH1009,Omar Faruq,72.0,72.0,76.0,Completed,2024-05-16,Dhaka,NaN
PH1010,Priya Sharma,89.0,89.0,88.0,Completed,2024-05-20,Sylhet,NaN
PH1011,Rahim Sheikh,NaN,NaN,91.0,In Progress,2024-06-11,Khulna,NaN
PH1012,Sadia Chowdhury,85.0,85.0,87.0,Completed,2024-06-14,Chattogram,NaN
PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed,2024-07-02,Dhaka,NaN
PH1014,Urmi Akter,NaN,NaN,NaN,Not Started,2024-07-09,Rajshahi,NaN
PH1015,Wahiduzzaman,86.0,86.0,84.0,Completed,2024-08-18,Dhaka,NaN
PH1016,Ziaur Rahman,94.0,94.0,NaN,In Progress,2024-08-21,Chattogram,NaN
PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,2025-09-01,Dhaka,NaN
PH1018,Babul Ahmed,88.0,88.0,85.0,Completed,2025-09-05,Sylhet,NaN
PH1019,Faria Rahman,NaN,NaN,NaN,Not Started,2025-09-15,Chattogram,NaN
PH1020,Nasir Khan,86.0,86.0,89.0,Completed,2025-10-02,Dhaka,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,Completed,NaN,NaN,92.0

In [75]:
not_started = df.loc[df['CompletionStatus'] == 'Not Started']
not_started

,Full Name,Data Structure Marks,Algo Marks,Python Marks,CompletionStatus,EnrollmentDate,Location,Pyhon Marks
StudentID,,,,,,,,
PH1014,Urmi Akter,NaN,NaN,NaN,Not Started,2024-07-09,Rajshahi,NaN
PH1019,Faria Rahman,NaN,NaN,NaN,Not Started,2025-09-15,Chattogram,NaN

In [76]:
# completed and ds marks is greater or equal 90
completed_ds90 = df.loc[(df['CompletionStatus']=='Completed') & (df['Data Structure Marks']>=90)]
completed_ds90

,Full Name,Data Structure Marks,Algo Marks,Python Marks,CompletionStatus,EnrollmentDate,Location,Pyhon Marks
StudentID,,,,,,,,
PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,2025-09-01,Dhaka,NaN