In [3]:
tup = (10,30,50,60)
float_tup = (10.5,102)
#print(type(float_tup),float_tup)

mixed_tup = (10,33, "str", True)
#print(mixed_tup)

lst =[10,22,33]
tuple1 =tuple(lst)
print(type(tuple1), tuple1)

<class 'tuple'> (10, 22, 33)

In [4]:
new_tup = tup[0:3]
print(new_tup)

(10, 30, 50)

In [5]:
lst.append(444)
print(lst)

[10, 22, 33, 444]

In [12]:
tup_double= (10,10,10,50,50,66,)
print(tup_double.count(10))

print(tup_double.index(50))

3
3